.checkout{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout-body{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(224, 224, 224);
}
.checkout-body-order-summary{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.checkout-container{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout-header{
    margin-top: 60px;
    width: 100%;
}
.checkout-input{
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
input{
    width: 250px;
}