.products{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.products-list{
    margin-top: 20px;
    width: 1000px;
    height: auto;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px 250px;
    align-items: center;
    justify-items: center;
}
.products-header{
    width: 1000px;
    margin-top: 50px;
}

.product-item{
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;     
    box-shadow: 2px 7px 10px 4px #6d6d6d;
}
.product-item:hover{
    width: 250px;
    height: 250px;
    background-color: rgb(211, 211, 211);
    box-shadow: 1px 0px 1px 4px #d4d4d4;
    border: 1px solid black;
    transition: 0.2s;
    
}